@model EqualityExamDto<AnswerFormsDto>
@{
    ViewData["Title"] = "FractionFigEqualityExam";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var rowNo = 1;
}

<div class="task-header">
    <h2>Matematikos testai</h2>
    <h3>Trupmenų formų lyginimas</h3>
    <h4>Ar trupmena ir nuspalvintų kūbelių kiekis lygūs?</h4>
    <div class="balert alert-info" role="alert">
        <h4></h4>
    </div>
</div>

<div class="helper-header well well-sm text-center">
    <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
    <p>Visas teisingas lygybes pažymėkite varnele, o kada norėsite užbaigti spauskite "Užbaigti testą".</p>
</div>

<form method="post">
    <input name="ExamId" type="hidden" value="@Model.StudyExam.Id" />
    <table class="table table-condensed table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Atsakymas</th>
                <th>Trupmena</th>
                <th>Kūbeliai</th>
            </tr>
        </thead>
        @foreach (var fractionDto in Model.Tasks)
        {
            <tbody>
                <tr>
                    <td>@rowNo</td>
                    <td class="col-md-1">
                        <input name="ExamAnswers[@(rowNo-1)].Fraction.Numerator" type="hidden" value="@fractionDto.Value.Fraction.Numerator" />
                        <input name="ExamAnswers[@(rowNo-1)].Fraction.Denominator" type="hidden" value="@fractionDto.Value.Fraction.Denominator" />
                        <input name="ExamAnswers[@(rowNo-1)].DrawingFraction.Numerator" type="hidden" value="@fractionDto.Value.DrawingFraction.Numerator" />
                        <input name="ExamAnswers[@(rowNo-1)].DrawingFraction.Denominator" type="hidden" value="@fractionDto.Value.DrawingFraction.Denominator" />
                        <input name="ExamAnswers[@(rowNo-1)].TextAnswerId" type="hidden" value="@fractionDto.Key" />
                        <input class="equality-checkbox" type="checkbox" name="ExamAnswers[@(rowNo-1)].AnswerId" value="@fractionDto.Key" id="@fractionDto.Key" />
                    </td>
                    <td class="col-md-1 text-center"><h4>@Html.Raw(HttpUtility.HtmlDecode(fractionDto.Value.Fraction.GetFractionHtml()))</h4></td>
                    <td>
                        <svg width="300" height="30">
                            @for (int i = 0; i < fractionDto.Value.DrawingFraction.Denominator; i++)
                            {
                                if (i < fractionDto.Value.DrawingFraction.Numerator)
                                {
                                    <rect x="@(i*30)" y="0" rx="0" ry="0" width="30" height="30" style="fill:forestgreen;stroke:black;stroke-width:5;opacity:1" />
                                }
                                else
                                {
                                    <rect x="@(i*30)" y="0" rx="0" ry="0" width="30" height="30" style="fill:white;stroke:black;stroke-width:5;opacity:1" />
                                }
                            }

                            Sorry, your browser does not support inline SVG.
                        </svg>
                    </td>
                </tr>
            </tbody>
            rowNo++;
        }

    </table>

    <div>
        <button type="submit" class="btn btn-primary btn-lg" data-toggle="tooltip" data-placement="right" title="Spauskite tik tada kada varnele pažymėjote visus teisingus atsakymus.">
            <h4>Užbaigti testą <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></h4>
        </button>
    </div>
</form>