@model List<MathDoneDto>
@{
    ViewData["Title"] = "Testo rezultatai";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var rowNo = 1;
}

<div class="well">
    <h2>Testo rezultatai</h2>
</div>

<div class="panel @ViewBag.PanelColor">
    <div class="panel-heading">@ViewBag.ResultMessage</div>
    <div class="panel-body">Rezultatas: <strong>@ViewBag.Score %</strong></div>
    <div class="panel-body">
        Užsidirbote: <strong>@ViewBag.Reward <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span></strong>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table table-condensed table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-right">#</th>
                    <th class="text-center">Įrašytas atsakymas</th>
                    <th class="text-center">Teisingas atsakymas</th>
                    <th class="text-center">Užduotis</th>
                </tr>
            </thead>
            @foreach (var task in Model)
            {
                <tbody>
                    <tr class=@((task.IsCorrect)?"success":"danger")>
                        <td class="col-md-1 text-right"> <span class="@(task.IsCorrect ? "glyphicon glyphicon-ok" : "")"></span>@rowNo.</td>
                        <td class="col-md-2">@task.UserAnswer</td>
                        <td class="col-md-2">@task.CorrectAnswer</td>
                        <td class="col-md-3 text-center"><strong>@Html.Raw(HttpUtility.HtmlDecode(task.HtmlTask))</strong></td>
                    </tr>
                </tbody>
                rowNo++;
            }
        </table>
    </div>
</div>
