@model IEnumerable<StudyTopic>
@{
    ViewData["Title"] = "Matematikos testai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well">
    <h2>Matematikos testai</h2>
</div>


<div class="row">
    @foreach (var st in Model)
    {
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <img src="~/images/EquationHouse.png" alt="Equation house">
                <div class="caption">
                    <h3>@st.Name</h3>
                    <p>@st.ExamDescription</p>
                    <p class="text-right"></p>
                    <a asp-action="@st.GetLink(true)" asp-controller="@st.GetControllerLink(true)" asp-route-difficultyLevel="@st.DifficultyLevel" class="btn btn-warning btn-block btn-lg" role="button">Spręsti</a>
                </div>
            </div>
        </div>
    }
</div>
